<%= form_for(@frequent) do |f| %>
  <% if @frequent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frequent.errors.count, "error") %> prohibited this frequent from being saved:</h2>

      <ul>
      <% @frequent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :keyword %><br />
    <%= f.text_field :keyword %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
