<h1>Listing raw_twitter_posts</h1>

<table>
  <tr>
    <th>Rawdata</th>
    <th>Insert date</th>
    <th>Process date</th>
    <th>Processed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @raw_twitter_posts.each do |raw_twitter_post| %>
  <tr>
    <td><%= raw_twitter_post.rawdata %></td>
    <td><%= raw_twitter_post.insert_date %></td>
    <td><%= raw_twitter_post.process_date %></td>
    <td><%= raw_twitter_post.processed %></td>
    <td><%= link_to 'Show', raw_twitter_post %></td>
    <td><%= link_to 'Edit', edit_raw_twitter_post_path(raw_twitter_post) %></td>
    <td><%= link_to 'Destroy', raw_twitter_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Raw twitter post', new_raw_twitter_post_path %>
