<p id="notice"><%= notice %></p>

<p>
  <b>Rawdata:</b>
  <%= @raw_twitter_post.rawdata %>
</p>

<p>
  <b>Insert date:</b>
  <%= @raw_twitter_post.insert_date %>
</p>

<p>
  <b>Process date:</b>
  <%= @raw_twitter_post.process_date %>
</p>

<p>
  <b>Processed:</b>
  <%= @raw_twitter_post.processed %>
</p>


<%= link_to 'Edit', edit_raw_twitter_post_path(@raw_twitter_post) %> |
<%= link_to 'Back', raw_twitter_posts_path %>
