<h1>Listing recovered_statuses</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Keywords</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recovered_statuses.each do |recovered_status| %>
  <tr>
    <td><%= recovered_status.status %></td>
    <td><%= recovered_status.keywords %></td>
    <td><%= link_to 'Show', recovered_status %></td>
    <td><%= link_to 'Edit', edit_recovered_status_path(recovered_status) %></td>
    <td><%= link_to 'Destroy', recovered_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recovered status', new_recovered_status_path %>
